@import url();

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main_container{
    background-color: darkgrey;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.music_player{
    
  width: 35rem;
  height: 55rem;
  background-color: honeydew;
  border-radius: 2rem;
  padding: 3rem;
  text-align: center;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0,0, 0.2);
}

.music_player h1,h2{
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    text-transform: uppercase;
    color: black;
    margin: 2rem 0 0.5rem 0;
    font-weight: 500;
    font-size: 2.5rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music_player h2{
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: 2rem;
}

.image {
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0,0, 0.4);
}

.music_control{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: auto;
    margin-top: 5rem;
    align-items: center;
}

.music_control .fa{
    cursor: pointer;
    font-size: 2rem;
    color: #111111;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

.music_control .play_button{
    background-color: #f6f6f6;
    color: #111;
    width: 5rem;
    height: 5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0,0, 0.4);
}

.music_control .fa:hover{
    color: grey;
}

.music_control .play_button:hover{
    color: #f6f6f6;
    background-color:  black;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0,0, 0.4);
}

.animation{
    animation: rotatePlayer 3s linear infinite;
}

@-moz-keyframes rotatePlayer{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-o-keyframes rotatePlayer{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-ms-keyframes rotatePlayer{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes rotatePlayer{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

